.banner--categories {
  display: flex;
  /* background-color: red; */
  /* height: 300px; */
  justify-content: center;
  margin-top: 32px;
}

.categories {
	height: 366px;
	width: 1200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  column-gap: 16px;
	margin-bottom: 32px;
}
/* .categories { */
/*   display: flex; */
/*   width: 60%; */
/* 	/1* width: 1500px; *1/ */
/* 	height: 366px; */
/* 	margin-bottom: 32px; */
/*   /1* background-color: green; *1/ */
/*   /1* justify-content: space-evenly; *1/ */
/*   column-gap: 16px; */
/*   flex-wrap: wrap; */
/* } */

.category--card {
  flex: 1 1 0;
  /* width: 0;height: 270px; */
  /* width: 100%; */
  /* background-color: green; */
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
	padding-top: 120px;
}

.category--card h1 {
  color: white;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 16px;
}

.category--card div {
  /* margin-bottom: auto; */
  margin-top: 40px;
}

.category--card--info {
	position: relative;
	display: flex;
	flex-direction: column;
}

.category--card button {
	margin: auto;
}

@media only screen and (max-width: 1200px) {
.categories {
	height: 100%;
	display: flex;
	flex-direction: column;
  flex-wrap: wrap;
  column-gap: 16px;
	justify-content: center;
	row-gap: 16px;
	margin-bottom: 32px;
		}
		.category--card {
			margin: auto;
			height: 100vh;
		}
}
