.header {
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	padding-top: 3%;
	padding-bottom: 2%;
	margin-bottom: 16px;
	background-color: #C6AFB5
}


.header img {
	/* width: 70%; */
	object-fit: contain;
		height: 50vw;
}

@media only screen and (max-width: 1000px) {
	.header img {
		height: 50vh;
		/* width: 100vw; */
	}
	.header {
		height: 70vh;
	}
}

