.header {
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* height: 100vh; */
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #C6AFB5
}


.header img {
	/* width: 70%; */
	object-fit: contain;
}

@media only screen and (max-width: 1000px) {
	.header img {
		width: 80%;
	}
}

