
body {
	margin: 0;
	font-family: GlacialIndifference;
	scroll-behavior: smooth;
	background-color: #F4F4F4;
	height: 100vh;
	width: 100vw;
}

.App {
	/* display: flex; */
	justify-content: center;
	flex-direction: column;
	background-color: #F4F4F4;
}

Button {
	border: none;
	text-decoration: none;
	display: inline-block;
	opacity: 1;
	transition: 0.3s;
	cursor: pointer;
}


Button:hover {
	opacity: 0.5;
}
