
body {
	margin: 0;
	font-family: GlacialIndifference;
	scroll-behavior: smooth;
}

.App {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

Button {
	border: none;
	display: inline-block;
	opacity: 1;
	transition: 0.3s;
	cursor: pointer;
}


Button:hover {
	opacity: 0.5;
}
